<h1>Browse Happy Hour Venues</h1>
<div class="template_time"> random: <strong><%= rand(900)+100 %></strong></div>

<div data-pjax-container>

<% @venues.each do |venue| %>
  <div class="listing">
    <div class="listing-header">
      <span class="listing-name">
       <h3> <%= link_to venue.name, venue %> </h3>
      </span>
      <span class="listing-rating">
        <%= display_stars(average_rating(venue.id)) %>
      </span>
    </div>
    <div class="listing-body">
      <span class="listing-logo"><img src="http://placehold.it/80x80"></span>
      <span class="listing-description"><%= venue.description %></span>
      <span class="listing-details">
        <%= venue.street_address %> <br>
        <%= venue.suburb %> <br>
        <%= pluralize(@venue.reviews.count, 'review') %>
      </span>
    </div>
  </div>
<% end %>
<nav>
 <%= page_navigation_links @venues %>
</nav>
</div>