<%= link_to "Cheapdrunk", root_path, :class => 'brand', :id => 'logo' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
    </li>
  <% else %>
    <li id="fat-menu" class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>           
                <ul class="dropdown-menu">
                <li><%= link_to('Login', new_user_session_path, :rel => 'nofollow') %></li>
                <li><%= link_to("Login with Facebook", user_omniauth_authorize_path(:facebook), :rel => 'nofollow') %></li>
                <li><%= link_to("Login in with Twitter", user_omniauth_authorize_path(:twitter), :rel => 'nofollow') %></li>
                <li class="divider"></li>
              </ul>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_user_registration_path, :rel => 'nofollow')  %>
  </li>
  <% end %>
    <li>
      <%= link_to('Browse Venues', venues_path)  %>
    </li>
</ul>